* {
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 255, 255);   
    margin: 0;
    padding: 0;
}

#textarea {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px auto 50px;
    transition: all 0.5s;
}

#textarea label,
#preview-header {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    color: black;
    text-align: left;
    width: 100%;
    background-color: rgb(74, 163, 163);
    margin-bottom: 0;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 2px rgb(74, 163, 163);
}

#editor {
    width: 100%;
    display: flex;
    box-shadow: 1px 1px 10px 2px rgb(74, 163, 163);
    border: none;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-top: 0;
}

#preview-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    transition: all 0.5s;
}

#preview {
    width: 100%;
    border: 2px solid rgb(74, 163, 163);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 1px 1px 10px 2px rgb(74, 163, 163);
    padding: 30px;
    margin-top: 15px;
}

#preview h1,
#preview h2,
#preview p,
#preview a {
    font-family: Roboto, sans-serif;
}

#preview img {
    width: 100%;
    margin: 20px auto;
}

#preview hr {
    border: 1px solid black;
}

#preview code {
    background: white;
    padding: 20px 40px 20px 20px;
    margin-bottom: 10px;
}

footer {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 163, 163);
    padding: 5px;
    margin: 20px auto 0;
    font-weight: 700;
    box-shadow: 1px 1px 10px 2px rgb(74, 163, 163);
}

footer p {
    margin-right: 10px;
}


@media screen and (max-width: 768px) {
    
    #textarea {
        width: 70%;
    }

    #preview-container {
        width: 80%;
    }

}