* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
}

body {
  background: url(../images/bg-drum2.jpg);
  background-size: cover;
  display: flex;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
}

#root {
  width: 75%;
  height: 70vh;
  border: 3px solid plum;
}

#drum-machine {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

#keys {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.key-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.drum-pad {
  height: 90px;
  width: 90px;
  border-radius: 8px;
  border: 3px solid rgb(255, 135, 255);
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 900;
  color: blueviolet;
  cursor: pointer;
  box-shadow: blueviolet 3px 3px 5px;
}

#divider {
  width: 5px;
  height: 100%;
  background-color: plum;
}

#controls {
  width: 37%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#toggle-play {
  background-color: rgb(255, 135, 255);
  border: 1px solid rgb(255, 135, 255);
  font-size: 25px;
  height: 25px;
  width: 50px;
  padding: 1px;
  cursor: pointer;
}

#toggle-btn {
  width: 20px;
  height: 22px;
  background-color: blueviolet;
  margin: auto 0;
}

#display {
  height: 50px;
  width: 150px;
  background-color: rgb(255, 135, 255);
  color: blueviolet;
  font-weight: 700;
  text-align: center;
  border: 2px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

#volume-control {
  cursor: pointer;
  width: 60%;
}

@media screen and (max-width:768px) {
  body {
    background: url(../images/bg-drum4.jpg);
    background-size: auto;
  }

  #root {
    width: 85%;
    height: 80vh;
  }

  #drum-machine {
    flex-direction: column;
    padding: 20px;
  }

  #keys {
    width: 100%;
    height: 55%;
  }

  #divider {
    width: 100%;
    height: 5px;
  }

  #controls {
    width: 100%;
    height: 37%;
  }
}